body{
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), 
    rgba(136, 136, 206, 0.7) ), url("officeimg.jpg");
    font-family: 'poppins',sans-serif;

}
.box{
    display:flex;
    justify-content: center;

}
#title, #description{
    text-align: center;
    color:aliceblue;
}
label, .suggestion p{
    display:flex;
    align-items: center;
    color: aliceblue;
    font-size: larger;
    margin-bottom:0.5rem;
}
#survey-form{
    padding: 40px 50px;
    background: rgb(65, 62, 62);
    border-radius: 5px;
    width: 700px;
}
.formlabel input, #dropdown, .feature select,#submit{
    display:inline;
    width: 100%;
    padding: 6px 12px;
    font-size:medium;
}
.radio input,.suggestion input{
    display: inline-block;
    margin-right: 0.7rem;
    margin-bottom: 0,7rem;

}
.radio label{
    margin-bottom: 0.625rem;
}
.radio p, .feature p{
    display:inline-block;
    margin-top: 20px;
    color:aliceblue;

}
span{
    font-size: small;
}
input[type="checkbox"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}
textarea{
    width:100%;
    max-width: 700px;
    height: 150px;
    font-size: large;
}